<!-- 导航条
================================================== -->
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{:U('Index/main')}" style="font-family: '微软雅黑'">良师益友</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="{:U('Index/main')}" style="font-family: '微软雅黑'">首页</a></li>
				<li><a href="{:U('Vote/index')}" style="font-family: '微软雅黑'">投票</a></li>
				<li><a href="{:U('Index/show')}" style="font-family: '微软雅黑'">名人堂</a></li>
				<li><a href="{:U('Index/message')}" style="font-family: '微软雅黑'">留言板</a></li>
			</ul>

			<if condition="is_login()">
				<ul class="nav navbar-nav navbar-right" style="margin-right: 0">
					<li><a href="{:U('User/logout')}" style="font-family: '微软雅黑'">退出</a></li>
				</ul>
			<else />
				<ul class="nav navbar-nav navbar-right" style="margin-right: 0">
					<li><a href="{:U('Index/index')}" style="font-family: '微软雅黑'">登录</a>
					</li>
				</ul>
			</if>
		</div>
		<!--/.nav-collapse -->
	</div>
	<!--container-->
</div>
<!--navbar-->
