<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1 style="color: #e53333; font-family: '微软雅黑'; font-style: normal;font-weight:bold;">良师益友</h1>
            <p class="lead">Built using Bootstrap</p>
            <ul class="nav nav-pills">
              <li class="active"><a href="{:U('Index/main')}" style="font-family: '微软雅黑'">首页</a></li>
              <li><a href="#" style="font-family: '微软雅黑'">投票</a></li>
              <li><a href="#" style="font-family: '微软雅黑'">统计</a></li>
              <li><a href="#" style="font-family: '微软雅黑'">留言</a></li>
            </ul>
        </div>
    </header>
</block>
 
<block name="body">
 	    <!-- Carousel
    ================================================== -->
	<div class="container">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
      		<!-- Indicators -->
      		<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      		<div class="carousel-inner">
        <div class="item active">
          <img src="img/1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="font-family: '微软雅黑'">算法演示</h1>
              <p style="font-family: '微软雅黑'">提供字典序法、递增进位法、递减进位法、邻位对换法四种算法的过程演示，帮助您对排列生成算法有更深入的理解.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="font-family: '微软雅黑'">算法评估</h1>
              <p style="font-family: '微软雅黑'">从空间、时间、结果的角度全方位评测算法，给出详细的运算结果对比.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="img/3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 style="font-family: '微软雅黑'">算法排名</h1>
              <p style="font-family: '微软雅黑'">针对不同的排列生成算法，提供在排列数的复杂度不同的情况下算法的运行效率变化.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      		<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      		<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    	</div><!-- /.carousel -->
	</div>



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <h1>Introduction</h1>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-3">
          <img class="img-responsive" src="img/demo.jpg" alt="Generic placeholder image">
          <h2 style="font-family: '微软雅黑'">演示</h2>
          <p>本系统的演示模块以文字描述及动画的形式，将几种经典的全排列生成算法进行剖析，讲解排列数、中介数、序号之间的相互转换过程.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-responsive" src="img/rank.jpg" alt="Generic placeholder image">
          <h2 style="font-family: '微软雅黑'">排行</h2>
          <p>本系统的排行模块用来展示各种经典算法在不同位数的情况下具有怎样的运行效率，同时将用户提交的算法按照运行时间、所需内存进行从小到大的排序.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-responsive" src="img/check.jpg" alt="Generic placeholder image">
          <h2 style="font-family: '微软雅黑'">评测</h2>
          <p>本系统的评测模块允许用户提交代码文本或代码文件，上传成功后通过tab页面可以看到所有提交的评测结果.本系统不仅能够分析结果的正确性，同时可以检测出是否重复、遗漏、增加的问题.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-responsive" src="img/achieve.jpg" alt="Generic placeholder image">
          <h2 style="font-family: '微软雅黑'">成就</h2>
          <p>本系统的成就模块用以展示用户所有提交正确的算法的全站排名，同时给出所有用户提交结果的宏观分析.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="font-family: '微软雅黑'">算法演示  <span class="text-muted">便于更好地理解.</span></h2>
          <p class="lead">采用CSS及Javascript的动画脚本代替以往的Flash影片，依靠SenchaAnimator可以做出各种各样内容丰富的交互演示.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="img/main-ys.jpg" alt="Generic placeholder image">
        </div>
      </div>
      <!-- /END THE FEATURETTES -->
      
    </div><!-- /.container -->
</block>

